<!DOCTYPE HTML>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8">

		<title>Portal de notícias</title>
		
		<!-- JQuery -->
		<script src="js/jquery-2.2.1.js"></script>

		<!-- bootstrap - link cdn -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	
		<!-- incluindo css -->
		<link href="css/style.css" rel="stylesheet">

		<!-- favicon -->
		<link rel="shortcut icon" href="images/favicon.ico" />
	</head>

	<body>

		<nav class="navbar navbar-default navbar-static-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					
					<img src="images/logo.png" />
				</div>

				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="index.html">HOME</a></li>
					</ul>
				</div>
			</div>
		</nav>
    <form action="/companies/store" method="POST">
        <div class="demo-masked-input">
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="card">
    
                        <div class="body pb-0 mb-0">
                            <h5>Informações Pessoais</h5>
                        </div>
    

                        <% if (validacao) { %>
                            <ul>
                                <% for(i = 0; i < validacao.length; i++) { %>
                                    <li>
                                        <%= validacao[i].msg %>
                                    </li>
                                <% } %>
                            </ul>
                        <% } %>    
    
                        <div class="body pb-0 pt-0">
                            <div class="row clearfix">
                                <div class="col-sm-12 col-md-6 col-lg-6">
                                    <label for="email_address">Nome</label>
                                    <div class="form-group">
                                        <input type="text" id="fantasy_name" name="fantasy_name" value="<%= company.fantasy_name%>" maxlength="100" minlength="2" class="form-control" placeholder="Informe o Nome" />
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-6  col-lg-6">
                                    <label for="email_address">Email</label>
                                    <div class="input-group pr-2">
                                        <input type="text" id="email" name="email" value="<%= company.email%>" maxlength="140" minlength="5" class="form-control email" placeholder="Informe o Email" />
                                    </div>
                                </div>
                            </div>
                        </div>
    
                        <div class="body pb-0 pt-0">
                            <div class="row clearfix">
                                <div class="col-sm-12 col-md-3  col-lg-3">
                                    <label for="email_address">CNPJ</label>
                                    <div class="input-group">
                                        <input type="text" id="cnpj" name="cnpj" value="<%= company.cnpj%>" class="form-control cnpj" placeholder="Informe o CNPJ" />
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-3  col-lg-3">
                                    <label for="email_address">WhatsApp</label>
                                    <div class="input-group">
                                        <input type="text" id="phone_whats" name="phone_whats" value="<%= company.phone_whats%>" class="form-control cell-phone-home" placeholder="Informe o WhatsApp" />
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-3 col-lg-3">
                                    <label for="email_address">Celular</label>
                                    <div class="input-group">
                                        <input type="tel" id="celular" name="phone_cell" value="<%= company.phone_cell%>" class="form-control cell-phone-home" placeholder="Informe o Número do Celular" />
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-3  col-lg-3">
                                    <label for="email_address">Telefone Fixo</label>
                                    <div class="input-group">
                                        <input type="tel" id="telefone" name="phone_home" value="<%= company.phone_home%>" class="form-control cell-phone-home" placeholder="Informe o Telefone Fixo" />
                                    </div>
                                </div>
                            </div>
                        </div>
    
                        <div class="body pb-0 pt-0">
                            <h5>Endereço</h5>
                        </div>
    
                        <div class="body pb-0 pt-0">
                            <div class="row clearfix">
                                <div class="col-sm-12 col-md-6 col-lg-6">
                                    <label for="email_address">Endereço</label>
                                    <div class="form-group">
                                        <input type="text" id="address" name="address" value="<%= company.address%>" maxlength="100" minlength="2" class="form-control" placeholder="Informe o Endereço" />
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-2 col-lg-2">
                                    <label for="email_address">Número</label>
                                    <div class="input-group">
                                        <input type="text" id="number" minlength="1" name="number" value="<%= company.number%>" class="form-control number_home" placeholder="Número ou S/N" />
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4  col-lg-4">
                                    <label for="email_address">CEP</label>
                                    <div class="input-group">
                                        <input type="text" id="cep" name="zipcode" value="<%= company.zipcode%>" class="form-control cep" placeholder="Informe o CEP" />
                                    </div>
                                </div>
                            </div>
                        </div>
    
                        <div class="body pb-0 pt-0">
                            <div class="row clearfix">
                                <div class="col-sm-12 col-md-4  col-lg-4">
                                    <label for="email_address">Bairro</label>
                                    <div class="form-group">
                                        <input type="text" id="district" name="district" value="<%= company.district%>" maxlength="100" minlength="2" class="form-control" placeholder="Informe o Bairro" />
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4  col-lg-4">
                                    <label for="email_address">Região</label>
                                    <select class="selectpicker form-control mycols p-0" id="id_region" name="id_region" value="<%= company.id_region%>" data-live-search="true" title="Informe a Cidade" data-hide-disabled="true">
                                        <option value="">Informe a Região</option>
                                    </select>
                                </div>
                                <div class="col-sm-12 col-md-4 col-lg-4 mt-3">
                                    <label for="email_address">Complemento</label>
                                    <div class="form-group">
                                        <input type="text" id="complement" name="complement" value="<%= company.complement%>" maxlength="100" minlength="2" class="form-control" placeholder="Complemento" />
                                    </div>
                                </div>
                            </div>
                        </div>
    
                        <div class="body pb-0 pt-0">
                            <div class="row clearfix">
                                <div class="col-sm-12 col-md-4  col-lg-4">
                                    <label for="email_address">País</label>
                                    <div class="form-group">
                                        <select class="selectpicker form-control mycols p-0" id="id_country" name="id_country" data-live-search="true" title="Informe o País" data-hide-disabled="true">
                                        </select>
                                    </div>
                                </div>
    
                                <div class="col-sm-12 col-md-4  col-lg-4">
                                    <label for="email_address">Estado</label>
                                    <div class="form-group">
                                        <select class="selectpicker form-control mycols p-0" id="id_state" name="id_state" data-live-search="true" title="Informe o Estado" data-hide-disabled="true">
                                        </select>
                                    </div>
                                </div>
    
                                <div class="col-sm-12 col-md-4 col-lg-4">
                                    <label for="email_address">Cidade</label>
                                    <div class="form-group">
                                        <select class="selectpicker form-control mycols p-0" id="id_city" name="id_city" data-live-search="true" title="Informe a Cidade" data-hide-disabled="true">
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
    
                        <div class="body">
                            <div class="row clearfix">
                                <div class="col-sm-12 col-md-6 col-lg-6 pl-0 ">
                                    <div class="col-sm-6 col-md-4 col-lg-4">
                                        <button type="submit" class="btn btn-primary btn-round btn-block waves-effect btn-raised m-b-40" data-placement-from="top" data-placement-align="left" data-color-name="bg-black"> Cadastrar </button>
                                    </div>
                                </div>
                            </div>
                        </div>
    
                    </div>
                </div>
            </div>
        </div>
    </form>    
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	
</body>
</html>